/* imports */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* screen */
@viewport {
  width: device-width;
  zoom: 1;
}

/* variables */
:root {
  --gradient: linear-gradient(45deg, #ff6868, #ffae51);
  --bg-first: #0d1117;
  --bg-second: #141418;
  --red-color: #ff7b72;
  --orange-color: #ffa657;
  --purple-color: #d2a8ff;
  --blue-color: #8fbcff;
  --green-color: #7ee787;
  --white-color: #ffffff;
  --gray-color: #c9d1d9;
  --black-color: #010101;
  --transition-speed: 400ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body,
html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-first);
  color: var(--gray-color);
}

/* width */
body::-webkit-scrollbar {
  width: 5px;
}

/* handle of scroll bar */
body::-webkit-scrollbar-thumb {
  background: var(--purple-color);
  border-radius: 2px;
}

/* handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--red-color);
}

.animated-text {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  background: url(images/lines.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: animated-text 20s linear infinite;
}

@keyframes animated-text {
  100% {
    background-position: 2000px 0;
  }
}

.blue-to-red-text {
  font-weight: 500;
  background: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.red-to-orange-text {
  font-weight: 500;
  background: linear-gradient(45deg, #ff6868, #ffae51);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* header image */
#neo-author-image {
  height: 30px;
  align-self: center;
  margin: -4px 3px;
  top: 10%;
}

/* header starts in here*/
header {
  background-color: var(--bg-second);
  border-bottom: var(--red-color) solid 1px;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header-left {
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-right {
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.link-item {
  margin-right: 1rem;
  cursor: pointer;
  list-style: none;
}

/* symbols around text */
.symbols {
  color: var(--gray-color);
  opacity: 0.4;
}

/* main starts in here */
main {
  flex: 1 0 auto;
  margin: 1rem;
  padding: 3rem;
  border-bottom: 3px var(--red-color) solid;
  border-radius: 15px;
  box-shadow: 0 10px 20px -6px rgba(255, 123, 114, 0.3);
}

#main-designer {
  font-weight: bold;
  color: var(--red-color);
  font-size: 3.5rem;
  position: relative;
  top: 3rem;
  word-wrap: break-word;
}

